body{
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}

/* I'm digging the graident, but it doesn't really work in the portfolio section. Therefore, I made a new style sheet. */


/*---Content---*/

	
	.content {
		color:#B8B8B8;
		font-size: 20px;
		text-align: justify;

	}

	.content h1{
		color: #6D6D6D;
		font-family: 'Montserrat', sans-serif;
	}
	/* Had some trouble setting the h1 color but then realized it had to be declared after .content, so I repositoined it */

	.content a {
		color:#43C6AC;
		text-decoration: underline;
	}

	.content a:hover{
		color: #43C6AC;
		text-decoration: none;
	}

	#main {
		width: 900px;
		margin-left: 50px;
	}

	.portimg{
		width: 350px;
		height: auto;
	}

	body{

	}

	#pics {
		border-spacing:10px;
		margin: auto;
	}

	#pics img:hover{
		opacity: 0.5;
		background: #000;
	}

	#allpiccontainer{
		position: relative;
		padding-top: 50px;
	}

/* --- Icons --- */
	
	.imgicons{
		width: 60px;
		height: 60px;
		background-repeat: no-repeat;
	}
/* --- portfolio content --- */

	#picscontent{
		margin: auto;
	}

	#description{
		font-size: 150%;
		font-family: 'OpenSans-Semibold';
		margin-left: 30px;
		text-align:left;
		width: 400px;
	}


	#large_img_div{
		text-align: center;
	}

	.port_title h1{
		text-align: center;
	}

	#portfolio_single{
		padding-top: 50px;
	}
