body {
	/* background-color: #465060; */
	background-color: #F0F0F0;
	font-family: 'Open Sans', sans-serif;

}
/*---header or Navigation---*/

	#header {
	 	font-size:150%;
	 	word-spacing: 20px;
	 	font-family: 'Montserrat';
	 	text-align: center;
	 }

	.tablenav {
	 	border-spacing:20px;
	 }
	
	#header u{
		text-decoration-color: #ef4136;
	}

	#header a {
	 	color: #000000;
	 	text-decoration: none;
	 }

	#header a:hover {
	 	color: #ef4136;
	 }

	#subheader {
	 	word-spacing: 20px;
	 	margin-left: 30px;
	 	text-align: center;
	 	margin-top: 10px;
		/* I wanted to get rid of the large space between the top nav and the secondary nav */
	}

	#subheader a {
		color:#000;
		font-size: 150%;
		text-decoration: none;
		font-family: 'Montserrat';
	}


	#subheader a:hover{
		color: #febd21;
	}

/*---Content---*/

	.content h1{
		color: #00cfff;
		font-family: 'Montserrat', sans-serif;
	}
	.content {
		color:#000;
		font-size: 20px;
		text-align: justify;

	}

	.content a {
		color:#febd21;
		text-decoration: none;
	}

	.content a:hover{
		text-decoration: underline;
	}

	#main {
		width: 900px;
		margin-left: 50px;
	}

	.portimg{
		width: 350px;
		height: auto;
	}

	#pics {
		border-spacing:10px;
		margin: auto;
	}

	#pics img:hover{
		opacity: 0.5;
		background: #000;
	}
	/* figured this one out on my own, pretty proud of that */

/* --- Icons --- */
	
	.imgicons{
		width: 60px;
		height: 60px;
		background-repeat: no-repeat;
	}

	/*
	 #icons{
		border-left: 20px;
		width: 50px;
		height: auto;
	}
	*/

	/* --- Icon SVGS - Black --- */
/* I'm having some trouble with these svgs, they worked when tested in chrome, but when I uploaded the file to my actual website it craps out. 
The links are still there but the icons aren't cooperating. */

	#dribbble {
		background-image: url('icons/dribbble_black.png');
	}

	#instagram {
		background-image: url('icons/instagram_black.png');
	}
	
	#linkedin {
		background-image: url('icons/linkedIn_black.png');
	}

	/* --- Icons - Hover ---*/

	#dribbble:hover{
		background-image: url('icons/dribbble_color.png');
	}

	#instagram:hover{
		background-image: url('icons/instagram_color.png');
	}
	
	#linkedin:hover{
		background-image: url('icons/linkedIn_color.png');
	}
	

/* --- portfolio content --- */

	#picscontent{
		margin: auto;
	}

	#description{
		font-size: 150%;
		font-family: 'OpenSans-Semibold';
		margin-left: 30px;
		text-align:left;
		width: 400px;
	}


	#large_img_div{
		text-align: center;
	}

	.port_title h1{
		text-align: center;
	}



	

